<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-row>
    <div class="estilo-image">
    <ion-col>
      <img class="image-estilo" src="../../assets/img/hipertextual-ver-avengers-endgame-4k-2019810743.jpeg"  alt="loading...">
      <ion-row>
        <ion-col>
        <p><strong style="font-size:x-large;"> Advengers End-Game</strong><br> 4:00 P.M. - 7:00 P.M.</p>
        </ion-col>
      </ion-row>
    </ion-col>
    </div>
  </ion-row>

  <a style="color: blue;">tessssss</a>

  <h4 style="color: red;">Detalle de la orden: </h4>

  <form action="" style="color: red;" >
    <h6>Tickets para Advenger End-Game $ 1500</h6>
    <h6>Como doble de palomitas $ 450</h6>
    <h6>Nachos con queso $ 480</h6>

    <ion-list style="background: whie;">
      <ion-item>
        <ion-label>Metodo de pago</ion-label>
        <ion-select value="brown" okText="Okay" cancelText="Dismiss">
          <ion-select-option value="brown">Paypal</ion-select-option>
          <ion-select-option value="blonde">Bitcoin</ion-select-option>
          <ion-select-option value="black">Banreserva</ion-select-option>
          <ion-select-option value="red">Popular</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>

    <h1 class="ion-align-items-center"><strong>$ 2430 DOP.</strong></h1>
    <br>
    <ion-button clear-on-edit color="danger"  expand="block">Accede para confirmar tu orden</ion-button>

  </form>

</ion-content>
