*{
    --background:white;
}

.text-estilo{
    color: black;
}
.estilo-tickets{
    margin-top: 20px;
    margin-left: 8px;
    margin-right: 8px;
}
.btn-estilo{
    margin-top: 8px;
    background: red;
}