

<ion-content>
<div class="estilo-tickets">
  <ion-list  class="btn-estilo"> 
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/003-tickets.png"  alt="loading...">
      </ion-avatar>
      <ion-label>
        <h2 class="text-estilo">Avengers End-Game</h2>
        <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list  class="btn-estilo"> 
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/003-tickets.png"  alt="loading...">
      </ion-avatar>
      <ion-label>
        <h2 class="text-estilo">Avengers End-Game</h2>
        <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
      </ion-label>
    </ion-item>
  </ion-list>

  <ion-list  class="btn-estilo"> 
    <ion-item>
      <ion-avatar slot="start">
        <img src="../../assets/img/003-tickets.png"  alt="loading...">
      </ion-avatar>
      <ion-label>
        <h2 class="text-estilo">Avengers End-Game</h2>
        <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
      </ion-label>
    </ion-item>
  </ion-list>
</div>

</ion-content>
