<ion-app>
  <ion-header>

  </ion-header>

    <ion-content class="ion-padding">



      <ion-grid>
        <ion-row>
          <div class="estilo-image">
          <ion-col>
            <img class="image-estilo" src="../../assets/img/kilyan-sockalingum-nW1n9eNHOsc-unsplash.jpg" alt="loading...">
            <ion-row>
              <ion-col>
              <p><strong style="font-size:x-large;"> CinemApp</strong><br> Agenda tus entradas en cualquier momento.</p>
              </ion-col>
            </ion-row>
          </ion-col>
          </div>
        </ion-row>
  
  
  
          <ion-button  expand="full" color="dark"  >
            <ion-avatar slot="start">
              <img  src="../../assets/img/008-popcorn.png" alt="loading..." >
            </ion-avatar>
            Agregar un bocao
          </ion-button>
  
        <ion-row>
        
          <ion-col>
            <div class="estilo-image">
            <img class="image-estilo" src="../../assets/img/eiliv-sonas-aceron-iyqj9IKpQK0-unsplash.jpg" alt="loading..." style="width: 100%; height: 249px;" >
            <ion-fab vertical="center" horizontal="center" slot="fixed">
              <ion-fab-button>
                <ion-icon name="add"></ion-icon>
              </ion-fab-button>
            </ion-fab>
            <ion-row>
              <ion-col>
              <p>
                <br>
                Bebidas
                </p>
              </ion-col>
            </ion-row>
          </div>
          </ion-col>
        
          <ion-col>
            <div class="estilo-image">
              <img src="../../assets/img/charles-deluvio-PvAAYZx-yf8-unsplash.jpg" style="width: 100%; height: 249px;" alt="loading...">
              <ion-fab vertical="center" horizontal="center" slot="fixed">
                <ion-fab-button>
                  <ion-icon name="add"></ion-icon>
                </ion-fab-button>
              </ion-fab>
              <ion-row>
                <ion-col >
                <p>
                  Picaderas
                  </p>
                </ion-col>
              </ion-row>
            </div>
          </ion-col>
    
        </ion-row>
  
      
      </ion-grid>
      
    
  
      <ion-list class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png" alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png" alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-list  class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png"  alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
      <ion-list  class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png"  alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
      <ion-list  class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png"  alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
      <ion-list  class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png"  alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>

      <ion-list  class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png"  alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
      <ion-list  class="btn-estilo"> 
        <ion-item>
          <ion-avatar slot="start">
            <img src="../../assets/img/003-tickets.png"  alt="loading...">
          </ion-avatar>
          <ion-label>
            <h2 class="text-estilo">Avengers End-Game</h2>
            <h3 class="text-estilo">4:00 P.M. -7:00 P.M.</h3>
          </ion-label>
        </ion-item>
      </ion-list>
  
  
    </ion-content>
  
  
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="schedule">
        <img src="../../assets/img/home.png" width="30"  alt="loading...">
        <ion-label>Inicio</ion-label>
       
      </ion-tab-button>

      <ion-tab-button tab="list-tickets" Href="home/tickets">
        <img src="../../assets/img/interface.png" width="30"  alt="loading..."/>
        <ion-label>Tickets</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-app>
